@model MarsRoverProblem.Api.Models.MovingRequestViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h4>MovingRequestModel</h4>
<hr/>
<h4>Result: @ViewData["Result"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaxX" class="control-label">Max X: </label>
                <input asp-for="MaxX" class="form-control" />
                <span asp-validation-for="MaxX" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="MaxY" class="control-label">Max Y: </label>
                <input asp-for="MaxY" class="form-control" />
                <span asp-validation-for="MaxY" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Moves" class="control-label">Moves: </label>
                <input asp-for="Moves" class="form-control" />
                <span asp-validation-for="Moves" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="X" class="control-label">X: </label>
                <input asp-for="X" class="form-control" />
                <span asp-validation-for="X" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Y" class="control-label">Y: </label>
                <input asp-for="Y" class="form-control" />
                <span asp-validation-for="Y" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direction" class="control-label">Direction: </label>
                <input asp-for="Direction" class="form-control" />
                <span asp-validation-for="Direction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
